/* CustomNavbar.css */

/* Styling the Navbar */
.custom-navbar {
  background-color: #101c3d; /* Change background color */
  padding: 10px 0; /* Adjust padding */
}

.ms-auto{
  margin: 0% !important;
}

/* Styling the Navbar Brand */
.navbar-brand img {
  width: 180px; /* Adjust logo image size */
}
.me-auto{
  margin-left: auto !important;
  margin-right: 10px !important;
}

.nav-link {
  color: #fff; /* Set the color of the links */
  padding: 10px 15px; /* Adjust the padding */
  transition: color 0.3s ease; /* Add a smooth color transition */
}

.nav-link:hover {
  color: #ff4000; /* Change the color on hover */
}

.custom-dropdown {
  color: #fff; /* Set the color of the dropdown */
}

.dropdown-item {
  color: #333; /* Set the color of dropdown items */
  transition: background-color 0.3s ease; /* Add a smooth background color transition */
}

.dropdown-item:hover {
  background-color: #eee; /* Change the background color on hover */
  color: #333; /* Change the text color on hover */
}