/* Career.css */

.careerPage {
    /* padding: 20px; */
  }
  
  .panoramicImage {
    background: url(/public/images/Career_Bg.jpg) center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 10% 0;
  }
  .panoramicImage-interns{
    background: url(/public/images/InternBG_img.jpg) center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 10% 0;
  }
  
  .career-container{
    background-image: url(/public/images/BG_3.jpg);
    max-width: 200% !important ;
    width: 100%;
  }

  .subheading {
    color: #ccc;
  }
  
  .readyToChange {
    padding: 4% 0 0 0;
  }
  
  .cardContainer {
   padding:3% 3% ;
    
  }
  
  .careerCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1) !important;
    border: 1px solid #ddd; /* Add border for card separation */
    border-radius: 15px !important; /* Optional: Add border radius for a rounded look */
    overflow: hidden; /* Optional: Hide overflowing content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important; /* Add smooth transitions on hover */
  
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Increase the box shadow on hover */
      transform: scale(1.05); /* Scale up the card on hover */
    }
  }
  .careerCard .MuiTypography-h5 {
    color: #333; /* Set heading text color */
    font-weight: 600;
  }
  
  .careerCard .MuiTypography-body2 {
    color: #666; /* Set body text color */
    padding-bottom: 5%;
  }
  
  /* Styles for the buttons inside the cards */
  .cardContent .MuiButton-containedPrimary {
    background-color: #2196f3; /* Set primary button background color */
    color: #fff; /* Set primary button text color */
    border-radius: 25px !important; /* Optional: Add border-radius for a rounded button */
    padding: 10px 20px !important; /* Optional: Adjust padding for a more spacious button */
    transition: background-color 0.3s ease-in-out !important; /* Add smooth transition for background color on hover */
  }
  
  .cardContent .MuiButton-containedPrimary:hover {
    background-color: #1565c0; /* Darken the background color on hover */
  }
  
  .cardContent {
    margin-top: auto;
  }

  .Card-img {
    width: 100%;
    height: 300px; /* Set the desired height for the images */
    object-fit: cover;
    border-top-left-radius: 4px; /* Optional: Add border-radius for top-left corner */
    border-top-right-radius: 4px; /* Optional: Add border-radius for top-right corner */
  }

  @media screen and (max-width: 768px) {
.panoramicImage{
  padding-top: 78px !important;
}
  }


  .container-hiring{
    background-image: url(/public/images/BG_2.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 4% 3%;
  }
  .hiring {
    flex: 1;
    padding: 40px;
    text-align: left;
  }

  .image-container-hiring {
    flex: 1;
  }

  .image-container-hiring img {
    width: 90%;
    max-width: 100%;
    height: auto;
  }

  .hiringImg{
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
  }

  .hiring h2 {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    line-height: 1.7;
    font-weight: 600;
  }
  .hiring h1 {
    text-transform:uppercase;
    font-size: 1.6rem;
    color:  #00308F;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .hiring h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color:  #00308F;
    margin-top: 10px;
  }
  @media screen and (max-width: 768px) {
    
    .container-hiring {
      flex-direction: column-reverse;
      align-items: center;
      height: auto;
    }
    .hiring {
      flex: 1;
      padding: 20px;
      text-align: center;
    }
  }



  /* JobLIst */

  #testbutton {
    width: 100px; /* Adjusted width */
    height: 40px; /* Adjusted height */
    border-radius: 50px; /* Adjusted border-radius */
    position: relative;
    left: calc(50% - 50px);
    top: calc(50% - 20px);
    background: linear-gradient(45deg, #3498db, #2980b9); /* Blue gradient */
    cursor: pointer;
    line-height: 12px;
}


