/* src/components/SphereGallery.css */
#sphere-container {
  /* position: relative; */
  margin: 24%;
  /* width: 400px; */
  /* height: 400px; */
}

.sphere-img {
  position: absolute;
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');


.techStacks  {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 30px;
    /* background-image: url("/public/images/TechStackBG\ \(3\).jpg"); */
    background-size:cover;
    background-position: center;
    background-color: #444;
  }
  
  .intro-text-left {
    flex: 1;
    max-width: 50%; 
    color: white;
    text-align: left;
  }
  


  .intro-heading{
    text-align: left;
    font-size:2.5rem;
    color: white;
  }

  .intro-heading::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    border-radius: 20px;
    background-color:  #ff6347;
    margin-top: 10px;
  }
  
  .intro-text-left .highlight {
    color: #ff6347; 
    font-size: 1.5rem;
    font-weight: 600;/* Adjust the highlight color in the text */
  } 

  .contactButton_Tech {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    /* Additional button styles */
  
    /* Transition for hover effect */
    transition: transform 0.3s ease-in-out;
  }
  
  .contactButton_Tech:hover {
    /* Add hover effect */
    transform: scale(1.1);
  }
  
  /* Example animation for the button */
  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
    }
    70% {
      transform: scale(1.05);
      box-shadow: 0 0 0 20px rgba(0, 123, 255, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    }
  }
  
  .contactButton_Tech {
    animation: pulse 2s infinite;
  }
  
  

  